/* resets/defaults + color variables */

*{
    box-sizing: border-box;
    --flagBlue: #aae3ff;
    --flagPink: #feb2e6;
    --flagWhite: #ffffff;
    --accentBlue: #2062a3;
    --accentPink: #b32799;
    --semiTransparentFlagBlue: #aae3ffa7;
    --semiTransparentFlagPink: #feb2e6a7;
    --baseText: #000000;
    --semiTransparentBaseText: #0000005d;
    font-family: "Nunito Sans", Arial, sans-serif;
}

nav ul, nav ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
    color: var(--baseText);
}

a{
    text-decoration: none;
}

/* font reference */
/* .freckle-face-regular {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}
.finger-paint-regular {
  font-family: "Finger Paint", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font weights: 100, 400, 600, 700, 900;
  font styles: normal, italic
} */

/* page style */

body{
    margin: auto;
    background-color: var(--flagWhite);
}

main{
    margin: 2.5em;
}

header{
    margin: 2em;
    text-align: center;
}

h1, h2{
    font-family: "Finger Paint", Serif;
}

h1 .emphasis{
    font-size: 1.6em;
    font-family: "Freckle Face", Cursive;
}

h2{
    margin-top: 1em;
    margin-bottom: 1em;
}

h3{
    margin-top: 1em;
    margin-bottom: 0.2em;
}

header h2{
    margin-bottom: 0;
}

.homeBtn{
    position: absolute;
    top:2.7em;
    right:1em;
    left: auto;
}

.homeBtn svg{
    /* stroke: var(--accentBlue);
    background-color: #000000; */
    max-width: 2.7em;
}

p{
    margin-bottom: 0.5em;
}

main p{
    text-indent: 1.5em;
    margin-bottom: 1.5em;
}

a{
    display: block;
    margin-bottom: 1em;
    padding: 0 0.1em;
    color: var(--accentBlue);
    transition: all 0.2s ease-out;
}

a:hover{
    color: var(--accentPink);
}

.subtitle{
    font-style: italic;
}

.linkContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 1em;
    row-gap: 0.3em;
    margin-bottom: 2em;
}

.pageLink{
    width: fit-content;
    max-width: 13em;
    padding: 1.7em;
    border-radius: 12em 12em 10em 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    background-color: var(--flagPink);
    transition: box-shadow 0.5s ease;
}

.pageLink:first-child{
    background-color: var(--flagBlue);
    justify-self: first baseline;
}

.pageLink:nth-child(2){
    justify-self: last baseline;
}

 .pageLink h2{
    margin-bottom: 0.1em;
}

.pageLink a{
    padding: 0;
}

.pageLink:first-child:hover{
    box-shadow: 0 0 1.5em var(--semiTransparentFlagPink);
}

.pageLink:hover{
    box-shadow: 0 0 1.5em var(--semiTransparentFlagBlue);
}

.home .pageLink:first-child{
    grid-column: 1/3;
    grid-row: 1;
    justify-self: center;
}

.home .pageLink:nth-child(2){
    background-color: var(--flagPink);
    grid-column: 1;
    grid-row: 2;
    justify-self: last baseline;
}

.pageLink:nth-child(last){
    background-color: var(--flagPink);
    grid-column: 2;
    grid-row: 2;
    justify-self: first baseline;
}

.pageLink h2 a{
    font-family: "Finger Paint", Serif;
    font-size: 1.5rem;
} 

ul{
    padding-inline-start: 1.8em;
}

/* .homeBtn path:hover{
    stroke: var(--accentBlue);
} */

main a{
    text-align: center;
    margin-top: 2em;
}

.pageLink a{
    text-align: center;
    margin-top: 0;
}

#sources a{
    margin-top: 0;
    display: inline;
    text-align: left;
}

#sources li{
    margin-bottom: 0.6em;
}

#sources h2{
    margin-bottom: 0.4em;
}


.plainText{
    font-family: "Nunito Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    display: inline;
}

footer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3em;
}

footer a:hover{
    outline: solid 0.1em var(--semiTransparentFlagBlue);
}

.homeLink{
    color: var(--accentPink);
    justify-self: center;
}

.homeLink:hover{
    outline: solid 0.3em var(--semiTransparentFlagPink);
    color: var(--accentBlue);
}

/* accordian styling */

.openAll, .closeAll{
    border: none;
    position: absolute;
    top:-0.5em;
    transition: all 0.5s ease;
}

.openAll{
    right: 5em;
    background: var(--semiTransparentFlagBlue);
}

.closeAll{
    right: 0;    
    background: var(--semiTransparentFlagPink);
}

.openAll:hover{
    background: var(--flagBlue);
}

.closeAll:hover{
    background: var(--flagPink);
}

.ac .ac-trigger:hover {
    background: var(--semiTransparentFlagBlue);
}

.ac .ac-trigger:focus {
  color: var(--baseText);
}

.vocabList{
    padding-inline-start: 1.5em;
    position: relative;

}

.ac{
    border: none;
    width: fit-content;
}

.vocabList .ac-header{
    list-style-type: decimal;
    list-style-position: outside;
    display: list-item;
    width: fit-content;

}

.ac .ac-trigger {
    padding: 0.3em 1.4em 0.3em 0.5em;
}

.ac .ac-trigger::after{
    content: "+";
    color: var(--semiTransparentBaseText);
}

.ac.is-active > .ac-header .ac-trigger::after {
    content: "\2013";
}

.ac .ac-header button{
    background: var(--flagBlue);
    margin-left: 0.5em;
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
}

.ac .ac-text:last-child{
    padding: 0.5em 0.6em 0.9em;
}

.ac .ac-text{
    font: 15px/24px "Nunito Sans", Arial, sans-serif;
    text-indent: 0;
}

@media screen and (min-width: 520px){
    .linkContainer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .pageLink:first-child{
        justify-self: last baseline;
    }

    .pageLink:nth-child(2){
        justify-self: first baseline;
    }
}

@media screen and (min-width: 600px){
    body{
        max-width: 90vw;
    }

    .homeBtn{
        position: absolute;
        top:0;
        right: auto;
        left:3em;
    }

    .homeBtn svg{
        max-width: 3em;
    }
    
}

@media screen and (min-width: 740px){
    body{
        max-width: 75vw;
    } 

    .homeBtn{
        position: fixed;
        top:0;
        right: auto;
        left:5em;
    }
}

@media screen and (min-width: 750px){
    body{
        max-width: 60vw;
    } 

    .homeBtn{
        position: fixed;
        top:0;
        right: auto;
        left:10em;
    }
}

@media screen and (min-width: 1100px){
    body{
        max-width: 50vw;
    } 

    .homeBtn{
        position: fixed;
        top:0;
        right: auto;
        left:10em;
    }
}