/* resets/defaults + color variables */

*{
    box-sizing: border-box;
    --flagBlue: #aae3ff;
    --flagPink: #ffaae4;
    --flagWhite: #ffffff;
    font-family: "Nunito Sans", Arial, sans-serif;
}

nav ul, nav ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/* font reference */
.freckle-face-regular {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}
.finger-paint-regular {
  font-family: "Finger Paint", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  /* font weights: 100, 400, 600, 700, 900; */
  /* font styles: normal, italic */
}

/* page style */

body{
    margin: auto;
    max-width: 100vw;
}

header{
    margin: 2em;
}

h1, h2{
    font-family: "Finger Paint", Serif;
}

h1 .emphasis{
    font-size: 1.6em;
    font-family: "Freckle Face", Cursive;
}

.linkContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.pageLink{
    max-width: 12em;
    background-color: aquamarine;
    padding: 2em;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

a{
    display: block;
    padding-bottom: 1em;
}

@media screen and (min-width: 600px){
    body{
        max-width: 90vw;
    }
    
}

@media screen and (min-width: 750px){
    body{
        max-width: 75vw;
    } 
}