*{
    box-sizing: border-box;
    --flagBlue: #aae3ff;
    --flagPink: #ffaae4;
    --flagWhite: #ffffff;
}

nav ul, nav ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
}

.emphasis{
    font-size: 3em;
}

main{
    display: flex;
}

.pageLink{
    max-width: 10em;
    background-color: aquamarine;
    border-radius: 2em;
}