*{
    box-sizing: border-box;
    --building: #120f1b;
    --smiley: #00ff0c;
    --star: #ff0;
    --exclamation: rgb(255, 75, 25);
    font-family: 'Courier New', Courier, monospace;
}

nav ul, nav ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

button{
    border: 0;
    padding: 0;
    background: none;
}
/* end resets */

body{
    position: absolute;
    width: 100vw;
    display: flex;
}

svg{
    max-width: 8em;
    position: absolute;
    z-index: 1;
    top: -10em;
    left: -10em;
}

#drawZone{
    position: relative;
    width: 80vw;
    height: 100vh;
    background-color: var(--building);
    z-index: 0;
}

#svgChoose{
    width: 20vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: space-evenly;
}

#svgChoose button{
    width: 5em;
    height: 5em;
    background: var(--building);
    padding: 0.5em;
    border-radius: 0.5em;
}

#smileyBtn{
    color: var(--smiley);
}

#smileyBtn:hover{
    outline: outset 0.3em var(--smiley);
}

#starBtn{
    color: var(--star);
}

#starBtn:hover{
    outline: outset 0.3em var(--star);
}

#exclamationBtn{
    color: var(--exclamation);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#exclamationBtn:hover{
    outline: outset 0.3em var(--exclamation);
}

#exclamationIcon{
    height: 4.2em;
}

#mobileTxt{
    display: block;
}

#desktopTxt{
    display: none;
}

.typed{
    display: none;
    font-family: inherit;
}

.title{
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    color: white;
    background-color: black;
    z-index: 2;
    font-weight: 400;
    font-size: 2rem;
    width: min-content;
    text-align: center;
}

.directions{
    position: absolute;
    transform: translate(-50%, 0);
    top:4rem;
    left: 50%;
    color: white;
    background-color: black;
    z-index: 2;
    font-size: 1em;
    text-align: center;
}

#mobileTxt .directions{
    top:6rem;
}

.credits{
    position: absolute;
    transform: translate(-50%, 0);
    bottom:1rem;
    left: 50%;
    color: white;
    background-color: black;
    z-index: 2;
    font-size: 1em;
    text-align: center;

}

a{
    color: #8e68ff;
}

a:hover{
    color: #2ed2f3;
}

@media screen and (min-width:850px) {
    #mobileTxt{
        display: none;
    }

    #desktopTxt{
        display: block;
    }

}