*{
    box-sizing: border-box;
    font-family: "Turret Road", Arial, sans-serif;
}

nav ul, nav ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
}

body{
    margin: 1em 1.5em;
}

#graph{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: end;
    min-height: 50vh;
    width: 140vw;
    transform: translate(-60vw, 0);
    position: relative;
}

#graph .appUsed{
    cursor: pointer;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    min-height: 10vh;
}

.popup{
    position: absolute;
    right: .3em;
    padding: 1em;
    border-radius: 2em;
    background-color: black;
    color: whitesmoke;
    width: max-content;
}

/* #windowGraph{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: end;
    min-height: 50vh;
    width: 140vw;
    transform: translate(-60vw, 50vh);
    position: relative;
} */
#windowGraph{
    height: 30vh;
    width: 100vw;
    display: flex;
}

.windowDiv{
}

@media screen and (min-width:600px) {
    body{
        max-width: 75%;
        margin: 1em auto;
    }
    
    #graph{
        flex-direction: row;
        align-items: stretch;
        transform: translate(0, 0);
        width: auto;
    }

    #windowGraph{
        align-items: stretch;
        width: auto;
        flex-direction: row;
    }

    .popup{
        right: auto;
    }
}