*{
    box-sizing: border-box;
}

nav ul, nav ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
}

body{
    margin: 1em 1.5em;
}

#graph{
    display: flex;
    flex-direction: column;
}

#graph .appUsed{
    cursor: pointer;
    color: #fff;
}

@media screen and (min-width:900px) {
    body{
        max-width: 75%;
        margin: 1em auto;
    }
    
    #graph{
        flex-direction: row;
    }
}